@model LMSSoft_Library.Models.SemesterUpgradeVModel

@{
    ViewData["Title"] = "Semester Upgrade";
    var lstData = (List<LMSSoft_Library.Models.SemesterDataList>)ViewBag.lstData;
}

<div class="row">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li><a href="#">Utility</a></li>
            <li><a href="@Url.Action("SemesterUpgrade", "Utility")">Semester Upgrade</a></li>
        </ul>
    </div>
</div>
<br />

<div class="main_content well">
    <script src="~/Content/js/jquery-ui.min.js"></script>

    <div class="form-group">
        <div class="row">
            @using (Html.BeginForm("SemesterUpgrade", "Utility", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-sm-3 form-group">
                    <label class="form-label">Faculty</label>
                    @Html.DropDownListFor(m => m.FacultyId, (SelectList)ViewBag.lstFaculty, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-3 form-group">
                    <label class="form-label">Course</label>
                    @Html.DropDownListFor(m => m.CourseId, (SelectList)ViewBag.lstCourse, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-1 form-group">
                    <label class="form-label">Semester</label>
                    @Html.DropDownListFor(m => m.SemesterId, (SelectList)ViewBag.lstSemester, htmlAttributes: new { @class = "form-control" })
                </div>
                if (lstData != null)
                {
                    if (lstData.Count > 0)
                    {
                        <div class="col-sm-2 form-group">
                            <label class="form-label">Upgrade To Semester</label>
                            @Html.DropDownListFor(m => m.UpSemesterId, (SelectList)ViewBag.lstSemester, htmlAttributes: new { @class = "form-control" })
                        </div>
                    }
                }
                <div class="col-sm-2 form-group" style="padding-top:5px;">
                    <br />
                    @{
                        if (lstData != null)
                        {
                            if (lstData.Count > 0)
                            {
                                <button type="Submit" formaction="SemesterUpgradePost" class="btn btn-sm btn-info">Upgrade</button>
                            }
                        }
                    }
                    <button type="Submit" formaction="SemesterUpgrade" class="btn btn-sm btn-info">Load</button>
                </div>
            }

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SN.</th>
                        <th>Code</th>
                        <th>Full Name</th>
                        <th>Roll No.</th>
                        <th>Mobile No.</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (lstData != null)
                        {
                            int i = 0;
                            foreach (var item in lstData)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@item.StudCode</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Roll_No</td>
                                    <td>@item.MobileNo</td>
                                    <td>@item.Email</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}