
@{
    ViewData["Title"] = "Search Book";
    var lstBooks = (List<LMSSoft_Library.Models.BookRegistrationVModel>)ViewBag.lstBooks;
}

<div class="row">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
        </ul>
    </div>
</div>
<br />

<div class="main_content well">
    <script src="~/Content/js/jquery-ui.min.js"></script>

    <div class="form-group">
        <div class="row">
            @using (Html.BeginForm("SearchBook", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-sm-8 form-group">
                    <label class="form-label">Search Book</label>
                    <input type="text" class="form-control" name="SearchText" placeholder="Search Book by Accession No, Title, Sub-Title, Category, Author Name ..." />
                </div>
                <div class="col-sm-2 form-group">
                    <br />
                    <button type="Submit" class="btn btn-sm btn-info">Search</button>
                </div>

                <table id="dynamic-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>SN.</th>
                            <th>Accession No.</th>
                            <th>ISBN No.</th>
                            <th>Category</th>
                            <th>Book Title</th>
                            <th>Book SubTitle</th>
                            <th>Author Name</th>
                            <th>Publisher Name</th>
                            <th>Published Year</th>
                            <th>Edition</th>
                            <th>Price</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                            foreach (var item in lstBooks)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@item.AccessionNo</td>
                                    <td>@item.ISBN_NO</td>
                                    <td>@item.BookCategory</td>
                                    <td>@item.BookTitle</td>
                                    <td>@item.Book_SubTitle</td>
                                    <td>@item.AuthorName</td>
                                    <td>@item.PublisherName</td>
                                    <td>@item.PublishedYear</td>
                                    <td>@item.Edition</td>
                                    <td>@item.Price</td>
                                    <td>@item.Status</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}